<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="icon" th:href="@{favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{css/style.css}">
</head>
<body>
<div class="wrapper">
    <header class="header">
        <div class="container">
            <h1 class="mt-3">Директории и файлы</h1>
            <nav class="row d-flex flex-wrap">
                <div class="col col-2 navbar-brand mt-3">Новая директория</div>
                <ul class="col col-9 menu ml-auto">
                    <li>
                        <form action="/" method="post" class="search d-flex">
                            <input id="path" name="path" type="text" placeholder="Введите путь к директории" aria-label="Search"  class="form-control mr-5 ml-5 mt-3">
                            <button type="submit" id="getPath" role="button" class="btn btn-outline-secondary text-nowrap mt-3">Добавить в список</button>
                        </form>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="main">
        <div class="container">
            <div class="mt-5 mb-3">
                <h2>Список директорий и файлов</h2>
            </div>
            <table class="table table-responsive table-striped table-hover table-bordered border-dark">
                <thead class="table-secondary">
                <tr>
                    <th scope="col">дата и время</th>
                    <th scope="col">путь к директории</th>
                    <th scope="col">директорий</th>
                    <th scope="col">файлов</th>
                    <th scope="col">суммарный размер файлов</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody th:each="el : ${directories}">
                <tr>
                    <td th:text="${el.date}"/>
                    <td th:text="${el.path}"></td>
                    <td th:text="${el.dirCount}"></td>
                    <td th:text="${el.fileCount}"></td>
                    <td th:text="${el.sizeCount}"></td>
                    <td>
                        <button type="button" id="innerModal" class="btn btn__modal btn-outline-secondary" data-toggle="modal" data-target="#innerModal">
                            файлы
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </main>
    <footer class="footer">

    </footer>

    <!-- modal -->

    <div class="modal" id="fade" tabindex="-1" role="dialog" aria-labelledby="innerModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h3 class="row mt-3 mb-3 ml-1 modal-title" id="innerModalLabel">Директория: </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body" style="max-height: 300px; overflow-y: auto;">
                    <div class="table-responsive m-0 p-0">
                        <table class="table table-sm table-striped table-hover table-bordered border-dark">
                            <thead class="table-secondary">
                            <tr>
                                <th scope="col">файл</th>
                                <th scope="col">размер</th>
                            </tr>
                            </thead>
                            <tbody th:each="el : ${files}">
                            <tr>
                                <th scope="row" th:text="${el.name}"></th>
                                <td th:text="${el.size}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="modal-footer d-flex">
                    <a type="button" class="btn btn-sm btn-outline-secondary ml-auto close" data-dismiss="modal" aria-label="Close">Закрыть</a>
                </div>

            </div>
        </div>
    </div>
    <!-- end modal -->
</div>

<script type="text/javascript" th:href="@{js/script.js}" src="js/script.js"></script>
</body>
</html>
